@model BuggyBits.ViewModels.CreateAccountViewModel

@{
    ViewData["Title"] = "Create User Account";
}

@using (Html.BeginForm("Index", "CreateAccount", FormMethod.Post))
{
<h2>Create a new user account</h2>
<table>
    <tr><td>First Name:</td><td>@Html.TextBoxFor(m => m.FirstName)</td></tr>
    <tr><td>Last Name:</td><td>@Html.TextBoxFor(m => m.LastName)</td></tr>
    <tr><td>User Name:</td><td>@Html.TextBoxFor(m => m.UserName)</td></tr>
    <tr><td></td><td><input type="submit" value="OK" /></td></tr>
</table>
}
<br />
<br />
<br />
@ViewData["Result"]