@{
    ViewData["Title"] = "Welcome to Buggy Bits";
}

<h2>Welcome to Buggy Bits</h2>
<p>This is your one stop shop for very buggy bits.</p>
<p>
    The sole purpose of this site is to show some examples of code going hey-wire in asp.net to allow you to
    practice your debugging skills.
</p>
<p>Browsing around this site will cause the asp.net process to hang, use up tonnes of CPU and tonnes of memory.</p>