@model BuggyBits.ViewModels.ReviewsViewModel

@{
    ViewData["Title"] = "Reviews";
}

<h2>Reviews</h2>
@Model.Review1
<br />
@Model.Source1
<br />
<br />
@Model.Review2
<br />
@Model.Source2
<br />
<br />
&nbsp;
<a href="?refresh=1">Refresh</a>
